@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
body {
    background: hsl(233, 47%, 7%);
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    height: max-content;
}
.article-left {
    background: hsl(244, 38%, 16%);
    width: 30em;
    display: flex;
    flex-direction: column;
    padding: 3.33em 4.66em;
    box-sizing: border-box;
}
.page-img {
    display: flex;
    width: 30em;
}
img {
    width: 100%;
}
h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 1em;
    font-family: 'Inter';
    font-weight: 700;
}
.diff-color {
    color: hsl(277, 64%, 61%);
}
.main-p {
    margin-bottom: 4em;
    font-family: 'Inter';
    line-height: 1.4;
    font-weight: 400;
}
.main-p, .stats span {
    color: hsla(0, 0%, 100%, 0.75);
}
.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stats p {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    font-weight: 700;
}
.stats span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Lexend Deca';
    font-weight: 400;
}

/*********** MEDIA ***************/
@media (max-width: 25em) {
    main {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: 100vh;
        margin-top: 0.2em;
    }
    .page-img {
        display: flex;
        width: 25em; 
        height: 35vh;  
    }   
    img {
        border-radius: 1em 1em 0 0;
    }
    .article-left {
        width: 25em;
        padding: 1em 3em;
        box-sizing: border-box;
        height: 65vh;  
        border-radius: 0 0 1em 1em;
    }
    h1 {
        text-align: center;
        margin-bottom: 0.5em;
    }
    .main-p {
        text-align: center;
        margin-bottom: 1.5em;
    }
    .stats {
        display: flex;
        flex-direction: column;
    }
    .stats p {
        font-size: 17px;
        text-align: center;
        margin-bottom: 1.4em;
    }
}